.link,
.link:active,
.link:hover,
.link:focus,
.navi > * > *,
.navi > * > * > *,
.navi > * > * > a,
a:hover,
a:focus,
a:active,
.navi > * > * > * > a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: rgb(53 180 209);
    border: 0 !important;
    font-weight: 500;
}
